version: '3.8'

services:
  app:
    build: ./backend
    container_name: spring_app
    restart: always
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
      - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}

      - MAIL_USERNAME=cantinavidal@gmail.com
      - MAIL_PASSWORD=${MAIL_PASSWORD}

      - JWT_SECRET=${JWT_SECRET}

      - FILE_UPLOAD_DIR=/app/uploads
    volumes:
      - uploads_data:/app/uploads
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - uploads_data:/var/www/uploads
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  uploads_data:
